

<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-circus" ></ngx-spinner>

<div class="container ">

    <h2 style="text-align: center;">Education Information</h2>

  <form [formGroup] = "ugEducationInfoForm" (submit) ="getugFormValues()">

    <h4> Undergraduate Details</h4>
    <div class="col-md-12 form-group" 
      [ngClass] = "{
        'has-error' : ugEducationInfoForm.controls.collegeName.invalid && (ugEducationInfoForm.controls.collegeName.dirty || ugEducationInfoForm.controls.collegeName.touched),
        'has-success' : ugEducationInfoForm.controls.collegeName.valid
          }">
      <label class="control-label" class="mandatory">College Name </label>
      <input type="text" class="form-control" formControlName="collegeName" placeholder="Enter college name">
    </div>

    <div class="col-md-12 form-group" 
      [ngClass] = "{
        'has-error' : ugEducationInfoForm.controls.univName.invalid && (ugEducationInfoForm.controls.univName.dirty || ugEducationInfoForm.controls.univName.touched),
        'has-success' : ugEducationInfoForm.controls.univName.valid
          }">
      <label class="control-label" class="mandatory">University Name </label>
      <input type="text" class="form-control" formControlName="univName" placeholder="Enter university name">
    </div>

  <div class="row col-md-12" style="padding-right: 0px;">
    <div class="col-md-6 form-group" 
      [ngClass] = "{
        'has-error' : ugEducationInfoForm.controls.branch.invalid && (ugEducationInfoForm.controls.branch.dirty || ugEducationInfoForm.controls.branch.touched),
        'has-success' : ugEducationInfoForm.controls.branch.valid
          }">
      <label class="control-label" class="mandatory">Branch </label>
      <input type="text" class="form-control" formControlName="branch" placeholder="Enter branch">
    </div>

    
    <div class="col-md-6 form-group" 
      [ngClass] = "{
        'has-error' : ugEducationInfoForm.controls.yrofPassing.invalid && (ugEducationInfoForm.controls.yrofPassing.dirty || ugEducationInfoForm.controls.yrofPassing.touched),
        'has-success' : ugEducationInfoForm.controls.yrofPassing.valid
          }">
      <label class="control-label" class="mandatory">Year of Passing </label>
      <input type="text" class="form-control" formControlName="yrofPassing" placeholder="Enter year of passing">
    </div>
  </div>

  </form>
  <hr>
  <div class="row">
    <h4> Have you done Post Graduation?</h4>

    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model" style="margin-left: 20px;">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="havePg"> Yes
      </label>
      <label ngbButtonLabel class="btn-primary" style="margin-left: 10px;">
        <input ngbButton type="radio" value="noPg"> No
      </label>
    </div>
  </div>

<hr>
  <div *ngIf="model === 'havePg'">
    <h4> Postgraduation Details </h4>

    <form [formGroup] = "pgEducationInfoForm" (submit) ="getpgFormValues()">

          
      <div class="col-md-12 form-group" 
      [ngClass] = "{
        'has-error' : pgEducationInfoForm.controls.collegeName.invalid && (pgEducationInfoForm.controls.collegeName.dirty || pgEducationInfoForm.controls.collegeName.touched),
        'has-success' : pgEducationInfoForm.controls.collegeName.valid
          }">
      <label class="control-label" class="mandatory">College Name </label>
      <input type="text" class="form-control" formControlName="collegeName" placeholder="Enter college name">
    </div>

    <div class="col-md-12 form-group" 
      [ngClass] = "{
        'has-error' : pgEducationInfoForm.controls.univName.invalid && (pgEducationInfoForm.controls.univName.dirty || pgEducationInfoForm.controls.univName.touched),
        'has-success' : pgEducationInfoForm.controls.univName.valid
          }">
      <label class="control-label" class="mandatory">University Name </label>
      <input type="text" class="form-control" formControlName="univName" placeholder="Enter university name">
    </div>

  <div class="row col-md-12" style="padding-right: 0px;">
    <div class="col-md-6 form-group" 
      [ngClass] = "{
        'has-error' : pgEducationInfoForm.controls.branch.invalid && (pgEducationInfoForm.controls.branch.dirty || pgEducationInfoForm.controls.branch.touched),
        'has-success' : pgEducationInfoForm.controls.branch.valid
          }">
      <label class="control-label" class="mandatory">Branch </label>
      <input type="text" class="form-control" formControlName="branch" placeholder="Enter branch">
    </div>

    
    <div class="col-md-6 form-group" 
      [ngClass] = "{
        'has-error' : pgEducationInfoForm.controls.yrofPassing.invalid && (pgEducationInfoForm.controls.yrofPassing.dirty || pgEducationInfoForm.controls.yrofPassing.touched),
        'has-success' : pgEducationInfoForm.controls.yrofPassing.valid
          }">
      <label class="control-label" class="mandatory">Year of Passing </label>
      <input type="text" class="form-control" formControlName="yrofPassing" placeholder="Enter year of passing">
    </div>
  </div>
  </form>

</div>
<hr>
<h4>Future Education Plans</h4>
<form [formGroup] = "furtherEducationInfoForm" (submit) ="getFurtherFormValues()">

  <div class="col-md-12 form-group" 
    [ngClass] = "{
      'has-error' : furtherEducationInfoForm.controls.intField.invalid && (furtherEducationInfoForm.controls.intField.dirty || furtherEducationInfoForm.controls.intField.touched),
      'has-success' : furtherEducationInfoForm.controls.intField.valid
        }">
    <label class="control-label" class="mandatory">Intrested Field to apply for further education </label>
    <input type="text" class="form-control" formControlName="intField" placeholder="Enter initrested field">
  </div>

  <div class="col-md-12 form-group" 
    [ngClass] = "{
      'has-error' : furtherEducationInfoForm.controls.semester.invalid && (furtherEducationInfoForm.controls.semester.dirty || furtherEducationInfoForm.controls.semester.touched),
       'has-success' : furtherEducationInfoForm.controls.semester.valid
       }">
    <label class="control-label" class="mandatory">Which semester </label>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="semester" style="margin-left: 10px;">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="winter"> Winter
        </label>
        <label ngbButtonLabel class="btn-primary"  style="margin-left: 10px;">
          <input ngbButton type="radio" value="summer"> Summer
        </label>
      </div>
  </div>


  <div class="col-md-12 form-group">
    <label class="control-label" class="mandatory">Preferred Country to apply </label>

      <ng-multiselect-dropdown
            name="Country"
            [placeholder]="'Select Country'"
            [data]="countries"
            [settings]="dropdownSettings"
            formControlName="prefCountry">
        </ng-multiselect-dropdown>

  </div>

  <div class="row">
      <div class="col-xs-6">
        <button type="button" (click)="getAllValues()" class="btn btn-success" [disabled]="(!ugEducationInfoForm.valid) || (!getFurtherFormValues.valid)" [ngClass] = "{
          'disabled' : (!ugEducationInfoForm.valid) || (!getFurtherFormValues.valid),
          'valid' : (ugEducationInfoForm.valid) || (getFurtherFormValues.valid)
        }">Proceed</button>
      </div>
      <div class="col-xs-6" style="margin-left: 10px;">
        <button type="reset" class="btn btn-danger" (click) = "resetForm()"> Reset</button>
      </div>
    </div>  
</form> 

</div>