
<router-outlet *ngIf="!this.login.state"></router-outlet>

<section *ngIf="this.login.state">
<div class="jumbotron" style="margin-bottom: 0px;">
  <div class="container">
    <h2 style="text-align: center;">TEA Registration Form</h2>
  </div>
</div>  

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand col-sm-2" routerLink="#" >Logo</a>
    <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 col-sm-12">
        <li class="nav-item col-sm-2">
          <a class="nav-link" routerLink="personalInfo">Personal Details <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item col-sm-2">
          <a class="nav-link" routerLink="passportInfo">Passport Details</a>
        </li>
        <li class="nav-item col-sm-2">
          <a class="nav-link" routerLink="educationInfo">Education Details</a>
        </li>
        <li class="nav-item col-sm-2">
            <a class="nav-link" routerLink="serviceInfo">Service Details</a>
        </li>
        <li class="nav-item col-sm-2">
              <a class="nav-link" routerLink="documentsInfo">Document Details</a>
        </li>
      </ul>
    </div>
  </nav>
<br>
<router-outlet></router-outlet>
</section>

