<ngx-spinner bdColor = "rgba(51, 51, 51, 0.8)" size = "large" color = "#fff" type = "ball-circus" ></ngx-spinner>

<div class="container">
  <div class="row">
   <div class="col-sm-6 form-class border-class">
        <img src="../../../../assets/logo.png" class="img img-responsive" style="width: 120%">
    </div>
    <div class="col-sm-6 form-class" style="display: flex;">
      <form [formGroup]="signUpForm" (submit)="getFormValue()" style="width: 100%  ;margin: auto;">
        <h4 style="text-align: center;"><b>Register Here</b></h4>
        

        <div class="col-md-12 form-group">
            <label class="control-label" class="mandatory">First Name </label>
            <input type="text"  class="form-control" formControlName="firstName" placeholder="Enter your first name">
        </div>

        
        <div class="col-md-12 form-group">
              <label class="control-label" class="mandatory">Last Name </label>
              <input type="text"  class="form-control" formControlName="lastName" placeholder="Enter your last name">
        </div>

        <div class="col-md-12 form-group" 
          [ngClass] = "{
            'has-error' : signUpForm.controls.email.invalid && (signUpForm.controls.email.dirty || signUpForm.controls.email.touched),
            'has-success' : signUpForm.controls.email.valid
              }">
          <label class="control-label" class="mandatory">Email </label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter your email">
        </div>
        

        <div class="col-md-12 form-group">
            <label class="control-label" class="mandatory">Contact Number </label>
            <input type="text"  class="form-control" formControlName="phoneNumber" placeholder="Enter your contact number">
        </div>

    
        <div class="col-md-12" style="text-align: center;">
        <button type="submit" class="btn btn-success" [disabled]="!signUpForm.valid" [ngClass] = "{
            'disabled' : !signUpForm.valid,
            'valid' : signUpForm.valid
          }">Register</button> <p>{{error}}</p>
        </div>
       
     </form>
     
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" style="color: green">Registration Successful!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h3>Your registration was successful.</h3> 
      <h4> Your password has been sent to your registered email id.</h4>
    </div>
    <div class="modal-footer">
      <div class="col-sm-6">
          <button type="button" class="btn btn-success" (click)="c('Cross click')" routerLink="/login">Go to Login</button>
      </div>
      <div class="col-sm-6">
          <button type="button" class="btn btn-outline-dark pull-right" (click)="c('Cross click')">Close</button>
      </div>
    </div>
  </ng-template>
  